<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/listado.css}" />
    <title>Listado_Admins</title>
  </head>
  <body>
    <main>
      <h1>Listado de Administradores</h1>
      <table>
        <tr>
          <th>Numero Documento</th>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Correo</th>
          <th>Tipo Documento</th>
          <th>Acciones</th>
        </tr>
        <tr th:each="admin : ${Listar_Admins}">
          <td th:text="${admin.numeroDocumento}"></td>
          <td th:text="${admin.nombres}"></td>
          <td th:text="${admin.apellidos}"></td>
          <td th:text="${admin.correo}"></td>
          <td th:text="${admin.tipoDocumento}"></td>
          <td class="Acciones">
            <a class="Links" id="Editar" th:href="@{/administrador/administradores/Actualizar/{numeroDocumento}(numeroDocumento=${admin.numeroDocumento}, nombres=${admin.nombres}, apellidos=${admin.apellidos}, tipoDocumento=${admin.tipoDocumento}, correo=${admin.correo}, telefono=${admin.telefono}, barrio=${admin.barrio})}">Editar</a>
            <a class="Links" id="Eliminar" th:href="@{/administrador/administradores/Eliminar/{numeroDocumento}(numeroDocumento=${admin.numeroDocumento})}" onclick="return confirm('¿Estás seguro de que deseas eliminar este administrador?');">Eliminar</a>
          </td>
        </tr>
      </table>
      <div class="contenedor">
        <a class="Registro" href="/administrador/administradores/Registrar">Registrar Administrador</a>
        <a class="Registro" href="/administrador" >Pagina Principal</a>
      </div>
    </main>
  </body>
</html>
