<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/listado.css}" />
    <link rel="icon" th:href="@{/imagenes/estetoscopio.png}">
    <title>Listado_Medicos</title>
  </head>
  <body>
    <main>
      <h1>Listado de Citas</h1>
      <table>
        <tr>
          <th>Nombre Paciente</th>
          <th>Nombre Medico</th>
          <th>Especialidad</th>
          <th>Fecha Cita</th>
          <th>Estado</th>
        </tr>
        <tr th:each="cita : ${Listar_Citas}">
          <td th:text="${cita.nombrePaciente}"></td>
          <td th:text="${cita.nombreMedico}"></td>
          <td th:text="${cita.especialidadMedico}"></td>
          <td th:text="${#temporals.format(cita.fechaCita, 'yyyy-MM-dd HH:mm')}"></td>
          <td th:style="${cita.fechaCita > T(java.time.LocalDateTime).now() ? 'color:green;' : 'color:red;'}"
            th:text="${cita.fechaCita > T(java.time.LocalDateTime).now() ? 'Activa' : 'Inactiva'}"></td> 
        </tr>
      </table>
      <a class="Registro" href="/administrador">Pagina Principal</a>
    </main>
  </body>
</html>
