<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/Listados.css}" />
    <link rel="icon" th:href="@{/imagenes/estetoscopio.png}">
    <title>Listado Administradores</title>
</head>

<body>
    <main class="list">
        <h1>Listado Administradores</h1>
        <table class="list__table">
            <thead class="table__title">
                <tr class="title__row">
                    <th class="row__title">Tipo Documento</th>
                    <th class="row__title">Numero Documento</th>
                    <th class="row__title">Nombre(s)</th>
                    <th class="row__title">Apellido(s)</th>
                    <th class="row__title">Correo</th>
                    <th class="row__title">Acciones</th>
                </tr>
            </thead>
            <tbody class="table__body">
                <tr class="body__row" th:each="admin : ${Listar_Admins}">
                    <td class="row__content" th:text="${admin.tipoDocumento}"></td>
                    <td class="row__content" th:text="${admin.numeroDocumento}"></td>
                    <td class="row__content" th:text="${admin.nombres}"></td>
                    <td class="row__content" th:text="${admin.apellidos}"></td>
                    <td class="row__content" th:text="${admin.correo}"></td>
                    <td class="row__content">
                        <a class="content__link"
                            th:href="@{/administrador/administradores/Actualizar/{numeroDocumento}(numeroDocumento=${admin.numeroDocumento})}"
                            th:attr="data-href-update=@{/administrador/administradores/Actualizar/{numeroDocumento}(numeroDocumento=${admin.numeroDocumento})}"
                            style="color: rgb(90,193,236);" onclick="return functionAdministrador(this);">Editar</a>
                        <a class="content__link"
                            th:href="@{/administrador/administradores/Eliminar/{numeroDocumento}(numeroDocumento=${admin.numeroDocumento})}"
                            th:attr="data-href-delete=@{/administrador/administradores/Eliminar/{numeroDocumento}(numeroDocumento=${admin.numeroDocumento})}"
                            onclick="return functionAdministrador(this);">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="list__container-button">
            <a class="container-button__button" href="/administrador/administradores/Registrar">Registrar
                Administrador</a>
            <a class="container-button__button" href="/administrador">Pagina Principal</a>
        </div>
    </main>
    <div id="fondoDialogo" class="dialog__background">
        <dialog id="Model" class="dialog">
            <p class="dialog__text" id="model-text">¿Estás seguro de Editar este Administrador?</p>
            <div class="dialog__buttons">
                <button id="cancelConfirmButton" class="dialog__button">Cancelar</button>
                <button id="acceptConfirmButton" class="dialog__button">Aceptar</button>
            </div>
        </dialog>
    </div>
    <script th:src="@{/js/ModalAdministrador.js}"></script>
</body>

</html>