<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/disponibilidad.css}" />
    <link rel="icon" th:href="@{/imagenes/estetoscopio.png}">
    <title>Disponibilidad</title>
</head>

<body>
    <main class="card">
        <h1>Configurar Disponibilidad</h1>
        <form class="card__form" th:object="${disponibilidad}" method="post" th:action="${acción}">
            <div class="form__input-container">
                <label for="FechaInicial">Fecha Inicial:
                    <input class="input-Fecha" type="datetime-local" id="FechaInicial" name="inicioDisponibilidad"
                        th:field="*{inicioDisponibilidad}" />
                </label>
            </div>
            <div class="form__input-container">
                <label for="FechaFinal">Fecha Final:
                    <input class="input-Fecha" type="datetime-local" id="FechaFinal" name="finDisponibilidad"
                        th:field="*{finDisponibilidad}" />
                </label>
            </div>
            <div class="form__input-container">
                <input class="button" type="submit" id="Enviar" value="Actualizar" />
                <a class="button" href="/medico">Pagina principal</a>
            </div>
        </form>
    </main>
    <div id="fondoDialogo" class="dialog__background">
        <dialog id="Model" class="dialog">
            <p class="dialog__text" id="model-text">La Fecha Final debe ser después de la Fecha Inicial</p>
            <div class="dialog__buttons">
                <button id="acceptConfirmButton" class="dialog__button">Aceptar</button>
            </div>
        </dialog>
    </div>
    <script th:src="@{/js/ConfigurarFecha.js}"></script>
</body>

</html>