<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" th:href="@{/css/PaginaPrincipal.css}"/>
  <link rel="icon" th:href="@{/imagenes/estetoscopio.png}">
  <title>Inicio Medico</title>
</head>
<body>
  <div class="container">
    <div class="card">
      <div class="header">
        <img src="https://cdn-icons-png.flaticon.com/512/847/847969.png" alt="Admin Icon" class="icon"/>
        <h1>Bienvenido, Medico</h1>
        <p class="welcome" th:text="|${medico.nombres} ${medico.apellidos}|"></p>
        <p class="email" th:text="${medico.correo}"></p>
      </div>
      <div class="links">
        <a href="/medico/disponibilidad">📅 Modificar Disponibilidad</a>
        <a href="/medico/citas">😷 Listado de Citas Medicas</a>
        <a th:href="@{/logout}" class="logout">🔓 Cerrar Sesión</a>
      </div>
    </div>
  </div>
</body>
</html>