@view-transition{
  navigation: auto;
}

::view-transition-old(root){
  animation: slide-out .7s both cubic-bezier(0.38,0.49,0,1);
}
::view-transition-new(root){
  animation: slide-in .7s both cubic-bezier(0.38,0.49,0,1);
}

@keyframes slide-out {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}

@keyframes slide-in {
  from{
    transform: translateX(100%);
  }
  to{
    transform: translateX(0);
  }
}

html {
  font-size: 16px;
}
body {
  display: flex;
  font-family: Helvetica, sans-serif;
  background-color: rgb(90, 193, 236);
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  max-width: 780px;
  width: 90%;
  margin: 0 auto;
  background-color: white;
  border-radius: 30px;
  padding: 20px 20px 10px 20px;
  text-align: center;
  align-items: center;
  box-shadow: 13px 12px 26px 1px rgba(0, 0, 2, 0.557);
}
table {
  width: 100%;
  border: 2px solid #ccc;
}
th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}
h1 {
  color: rgb(90, 193, 236);
  font-size: 1.875rem;
  text-align: center;
  letter-spacing: 2px;
}
a {
  text-decoration: none;
  color: rgb(90, 193, 236);
  font-weight: bold;
}
.Acciones {
  justify-content: center;
}
.Links {
  margin-right: 7px;
}
#Editar{
  color: rgb(112, 216, 150);
}
#Eliminar{
  color: rgb(185, 34, 34);
}
#Editar:hover {
  text-decoration: underline;
}
#Eliminar:hover{
  color: rgb(185, 34, 34);
  text-decoration: underline;
}
.Registro {
  color: rgb(90, 193, 236);
  background-color: white;
  margin-top: 10px;
  font-size: 1.25rem;
  border: 2px solid rgb(90, 193, 236);
  border-radius: 30px;
  padding: 10px;
  letter-spacing: 2px;
  font-weight: bold;
  transition: background-color .5s, color .5s;
}
.contenedor{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.Registro:hover{
  background-color: rgb(90, 193, 236);
  color: white;
}
