@view-transition {
  navigation: auto;
}

body {
  display: flex;
  font-family: Helvetica;
  background-color: #5ac1ec;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 340px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px 20px 10px 20px;
  box-shadow: 13px 12px 26px 1px rgba(0, 0, 2, 0.557);
}

.login__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: rgb(90, 193, 236);
  margin-bottom: 25px;
}

.main-icon {
  width: 50px;
  height: 50px;
}

.form__input-container {
  display: flex;
  align-items: center;
  border-radius: 4px;
  width: 300px;
  height: 50px;
  border-bottom: 2px solid rgba(90, 193, 236);
  margin-bottom: 35px;
}

.icon {
  width: 9%;
  height: 100%;
  margin-right: 8px;
}

input {
  font-size: 1.25rem;
  border: none;
  width: 100%;
  height: 90%;
}

input:focus {
  outline: none;
}

.form__button {
  color: #fff;
  background-color: rgb(90, 193, 236);
  font-size: 1.25em;
  font-weight: bold;
  border: 2px solid rgb(90, 193, 236);
  border-radius: 30px;
  width: 200px;
  height: 50px;
  letter-spacing: 2px;
  transition: background-color .5s, color .5s;
  cursor: pointer;
}

.form__button:hover {
  background-color: #fff;
  color: rgb(90, 193, 236);
}

p{
  font-size: 1.1em;
}
a {
  color: rgb(90, 193, 236);
}

a:not(:is(:hover, :active)) {
  text-decoration: none;
}

::view-transition-old(root) {
  animation: slide-out 1s both cubic-bezier(0.38, 0.49, 0, 1);
}

::view-transition-new(root) {
  animation: slide-in 1s both cubic-bezier(0.38, 0.49, 0, 1);
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}