@view-transition{
  navigation: auto;
}

::view-transition-old(root){
  animation: slide-out-to-left .5s ease;
}
::view-transition-new(root){
  animation: slide-in .5s ease;
}

@keyframes slide-out {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}

@keyframes slide-in {
  from{
    transform: translateX(100%);
  }
  to{
    transform: translateX(0);
  }
}
html {
  font-size: 16px;
}
body {
  display: flex;
  font-family: Helvetica, sans-serif;
  background-color: rgb(90, 193, 236);
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
form {
  justify-items: center;
}
main {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 380px;
  width: 90%;
  margin: 0 auto;
  background-color: white;
  border-radius: 30px;
  padding: 30px 20px 10px 20px;
  text-align: center;
  box-shadow: 13px 12px 26px 1px rgba(0, 0, 2, 0.557);
}
input:focus {
  outline: none;
}
h1 {
  color: rgb(90, 174, 119);
  font-size: 3.76rem;
  letter-spacing: 2px;
  margin-top: 0;
}
label {
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 30px;
  display: block;
  width: auto;
  align-items: center;
}
input[type="submit"] {
  color: rgb(90, 193, 236);
  background-color: white;
  font-size: 1.25rem;
  border-color: rgb(90, 193, 236);
  border-radius: 30px;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  letter-spacing: 2px;
  transition: background-color 0.3s, color 0.3s;
}
input[type="submit"]:hover{
  background-color: rgb(90, 193, 236);
  color:white;
}
.input-container {
  display: flex;
  align-items: center;
  border-radius: 4px;
  width: 300px;
  height: 50px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 35px;
}
.icon {
  width: 9%; /* Ancho del SVG */
  height: 100%; /* Alto del SVG */
  margin-right: 8px;
}

input[type="text"],
input[type="password"] {
  font-size: 1.25rem;
  border: none;
  width: 100%;
  height: 90%;
}

a {
  color: rgb(90, 193, 236);
  text-decoration: none;
  font-size: 1.125rem;
}
a:hover {
  text-decoration: underline;
}
.icono{
  width: 50px;
  height: 50px;
}
.circle{
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: rgb(90, 193, 236);
  margin-bottom: 25px;
}
.Error {
  color: red;
  font-size: 1.125rem;
  margin-top: 5px;
  margin-bottom: 15px;
  font-weight: bold;
}

