<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/Listados.css}" />
    <link rel="icon" th:href="@{/imagenes/estetoscopio.png}">
    <title>Listado Medicos</title>
</head>

<body>
    <main class="list">
        <h1>Listado de Medicos</h1>
        <table class="list__table">
            <thead class="table__title">
                <tr class="title__row">
                    <th class="row__title">Nombre(s)</th>
                    <th class="row__title">Apellido(s)</th>
                    <th class="row__title">Especialidad</th>
                    <th class="row__title">Disponibilidad Final</th>
                    <th class="row__title">Estado</th>
                    <th class="row__title">Acción</th>
                </tr>
            </thead>
            <tbody class="table__body">
                <tr class="body__row" th:each="medico : ${Listar_Medicos}">
                    <td class="row__content" th:text="${medico.nombres}">Leinner</td>
                    <td class="row__content" th:text="${medico.apellidos}">Leinner</td>
                    <td class="row__content" th:text="${medico.especialidad}">Enfermero</td>
                    <td class="row__content"
                        th:text="${#temporals.format(medico.disponibilidadFinal, 'yyyy-MM-dd HH:mm')}"></td>
                    <td class="row__content"
                        th:style="${medico.disponibilidadFinal != null && medico.disponibilidadFinal > T(java.time.LocalDateTime).now() ? 'color: rgb(90, 174, 119);' : 'color: rgb(185, 34, 34);'}"
                        th:text="${medico.disponibilidadFinal != null && medico.disponibilidadFinal > T(java.time.LocalDateTime).now() ? 'Activo' : 'Inactivo'}">
                        Activo</td>
                    <td class="row__content">
                        <a style="color: rgb(90, 193, 236);" class="content__link"
                            th:href="@{/paciente/medicos/agendarCita/{numeroDocumento}(numeroDocumento=${medico.numeroDocumento})}"
                            th:attr="data-disponibilidad-final=${#temporals.format(medico.disponibilidadFinal, 'yyyy-MM-dd HH:mm')}"
                            onclick="return verificarDisponibilidad(this);">Agendar Cita</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="list__button-container">
            <a class="container-button__button" href="/paciente">Pagina Principal</a>
        </div>
    </main>
    <div id="fondoDialogo" class="dialog__background">
        <dialog id="expiredDialog" class="dialog">
            <p class="dialog__text">La disponibilidad con el medico seleccionado a expirado</p>
            <div class="dialog__buttons">
                <button id="acceptButton" class="dialog__button">Aceptar</button>
            </div>
        </dialog>
    </div>
    <script th:src="@{/js/VerificarDisponibilidad.js}"></script>
</body>
</html>