<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/listado.css}" />
    <link rel="icon" th:href="@{/imagenes/estetoscopio.png}">
    <title>Listado_Medicos</title>
  </head>
  <body>
    <main>
      <h1>Listado de Citas</h1>
      <table>
        <tr>
          <th>Nombre Paciente</th>
          <th>Nombre Medico</th>
          <th>Especialidad</th>
          <th>Fecha Cita</th>
          <th>Estado</th>
          <th>Acción</th>
        </tr>
        <tr th:each="cita : ${Listar_Citas}">
          <td th:text="${cita.nombrePaciente}"></td>
          <td th:text="${cita.nombreMedico}"></td>
          <td th:text="${cita.especialidadMedico}"></td>
          <td
            th:text="${#temporals.format(cita.fechaCita, 'yyyy-MM-dd HH:mm')}"
          ></td>
          <td
            th:style="${cita.fechaCita != null && cita.fechaCita > T(java.time.LocalDateTime).now() ? 'color: rgb(90, 174, 119);' : 'color: rgb(185, 34, 34);'}"
            th:text="${cita.fechaCita != null && cita.fechaCita > T(java.time.LocalDateTime).now() ? 'Activo' : 'Inactivo'}"
          ></td>
          <td class="Acciones">
            <a class="Links" id="Editar">Editar</a>
            <a
              class="Links"
              id="Eliminar"
              th:href="@{/paciente/citas/Eliminar/{id}(id=${cita.Id})}"
              onclick="return confirm('¿Estás seguro de que deseas eliminar esta cita medica?');"
              >Eliminar</a
            >
          </td>
        </tr>
      </table>
      <a class="Registro" href="/paciente">Pagina Principal</a>
    </main>
    <script></script>
  </body>
</html>
